*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  background-color: black;
  color: azure;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
}

section{
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#section-1{
  position: relative;

  --gap: 5rem;


  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.5rem;
    
    .nav-element:nth-child(2) {
      i{
        color: #ff4940;
      }
    }
    
    svg{
      max-width: 10rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle{
    display: flex;
    gap: var(--gap);

    .left, .right{
      width: 50%;
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 7rem;
    }

    h1{
      font-size: 5rem;
      line-height: 0.8;
      text-align: right;
    }
  }

  .bottom{
    display: flex;
    gap: var(--gap);

    .left, .right{
      width: 50%;
    }

    .right{
      p{
        font-weight: 200;
        line-height: 1.5
      }
    }
  }

  .first-line{
    width: 35rem;
    background-color: #ff4a408a;
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(0, -17rem);
  }

  .second-line{
    width: 10rem;
    background-color: #ff4a408a;
    height: 1px;
    position: absolute;
    transform: rotate(135deg);
    top: 28%;
    right: 12%;
  }
}